doctype html 
html 
    head 
        title Sarita MusicAcademy|Kuleshwor
        block scripts 
        block style
    body 
        nav#navbar 
            div.logo
                em S-academy
            div.list
                ul  
                    li #[a(href='/').active Home]
                    li #[a(href='#sponserSection') Sponsers]
                    li #[a(href='#servicesSection') Services]
                    li #[a(href='/contact') Contact Us]
        block content 
        footer#footer.center  
            | Copyright &copy; SaritaMusicAcademy.com |All right Reserved